@import 'tailwindcss';

@theme inline {
  --font-main: var(--font-archivo);
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
}

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 100%;
  @variant md {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }
}

@layer utilities {
  .text-red-orange-500 {
    color: color-mix(
      in oklab,
      var(--color-red-500) 50%,
      var(--color-orange-500) 50%
    );
  }
  .bg-red-orange-500,
  .bg-red-orange-hover:hover,
  .bg-red-orange-after:after {
    background-color: color-mix(
      in oklab,
      var(--color-red-500) 50%,
      var(--color-orange-500) 50%
    );
  }
  .border-red-orange-500,
  .border-red-orange-hover:hover {
    border-color: color-mix(
      in oklab,
      var(--color-red-500) 50%,
      var(--color-orange-500) 50%
    );
  }
}

.section {
  @apply py-24 md:py-32 lg:py-40;
}

.line {
  @apply overflow-hidden;
}

.word {
  @apply translate-y-full;
}

.hero-ring {
  @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-red-300/30 shadow-[0_0_80px_inset] shadow-red-300/30;
}
